footer{
    height: 8vh;
    background-image: linear-gradient(#0E1015, #0E1015, #0E1015);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #454751;
    color: white;
    padding: 0;
}

p{
    width: 100%;
    text-align: center;
    font-size: 1em;
}