header{
    height: 8vh;
    background-image: linear-gradient(#0E1015, #0E1015, #0E1015);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #1e2028;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}

.nav-container ul{
    display: flex;
    flex-direction: row;
    margin-left: 0em;
    padding: 0;
}

.nav-container ul li{
    list-style: none;
    margin-right: 2em;
}

.navbar-item{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.navbar-item:hover{
    opacity: 0.5;
}

img{
    margin-right: 2em;
}

.navbar-item-button{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s
}

.navbar-item-button a{
    background-color: #087CA7;
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 12px 10px;
}

.navbar-item-button:hover{
    opacity: 0.8;
}