/* Main page*/
@media only screen and (max-width: 768px) {
  .gamecards-container {
    border: none;
    margin-bottom: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .gamecard {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
}
/* Contacts page */
@media only screen and (max-width: 768px) {
  .project-members-list {
    grid-template-columns: none;
  }
}
/* Twitch page */
@media only screen and (max-width: 768px) {
  .twitch-game {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .twitch-featured .twitch-thumbnail img{
    width: 75%;
    height: 75%;
  }

  .twitch-form {
    margin-right: 75%;
    margin-left: 75%;
  }
}
/* League page */
@media only screen and (max-width: 768px) {
  .form-box {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .user-stats-box {
    padding-left: 0em;
  }

  .chapmion-stats {
    width: 80%;
  }

  .rankedstatsbox {
    flex-wrap: wrap;
    flex-direction: none;
  }
  iframe {
    width: 70%;
    height: 750px;
  }
}