.memberSection {
    align-items: center;
    background-color: rgb(59, 55, 82);
    border-radius: 10px;
    box-shadow: 10px 10px rgba(41, 41, 41, 0.75);
    height: 100%;
    padding: 0.5em;
    text-align: center;
    width: 450px;
}

.memberSection h2 {
  padding: 1em 0 0 0;
}

.memberSection p {
  font-size: 0.9em;
}

.memberSection img {
  border-radius: 50%;
}

.memberSection a > img:hover {
  opacity: 0.5;
}

.memberSocials {
  column-gap: 0.25rem;
  display: flex;
  flex-direction: row;
  float: right;
  padding: 0.5em 0.5em 0.5em 0;
}
