.emblem-container{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 20%;
}

.emblem-container img{
    width: 100%;
}

.info-container{
    text-align: center;
    width: 20%;
}


.info-container p{
    text-align: center;
}

.rankedstatsbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}