.rankedstatsbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}


.info-container{
    text-align: left;
    width: 60%;
}


.info-container p{
    text-align: left;
}
.emblem-container{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 30%;
}

.emblem-container img{
    width: 80%;
}