.emblem-container{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 20%;
}

.emblem-container img{
    width: 100%;
}

.info-container{
    /* height: 100%; */
    text-align: center;
    width: 20%;
}


.info-container p{
    text-align: center;
}

.rankedstatsbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.TopPlayedButton{
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 25%;
    height: 50px;
    border: 2px solid white;
    border-radius: 45px;
    background: transparent;
    color: white;
    transition: 0.2s all ease-in-out;
}

.TopPlayedButton:hover{
    cursor: pointer;
    background-color: #1589B4;
}

@media only screen and (max-width: 768px) {
   .rankedstatsbox {
    flex-wrap: wrap;
    flex-direction: row;
  } 
  
}
