/* creating a space around the search bar. */
.searchBar {
  background-color: #181A20;
  border: 2px solid white;
  padding: 2em;
  border-radius: 10px;
  width: 50vw;
}

.form-box{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  justify-items: center;
}

.form-box h2{
  margin-bottom: 1em;
}
  
.form-container{
  height: 3em;
  display: flex;
  flex-direction: row;
}

.form-container input[type=text] {
  background-color: #2e323d;
  border: none;
  border-radius: 10px;
  color: white;
  height: 100%;
  font-size: 1em;
  margin-right: 0.25rem;
  padding-left: .5em;
  width: 90%;
}

.form-container button {
  background-color: #087CA7;
  border: none;
  border-radius: 10px;
  height: 50px;
}

.form-container button>img {
  filter: invert(100%);
}

.form-container2 {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: left;
  margin: 1em 0;
}

.form-container2 select{
  background-color: #2E323D;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  height: 2.5em;
  padding: 0 0.5rem;
  width: fit-content;
}

::placeholder {
  color: white;
}
