/* creating a space around the search bar. */
.searchBar {
  background-color: lighten(#272934, 90%);
  border: 2px solid white;
  padding: 2em 2em 2em 2em;
  border-radius: 10px;
}

.form-box{
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  max-width: 500px;
  width: 50%;
  }
  
.form-box h2{
  margin-bottom: 1em;
}
  
  .form-container{
    height: 3em;
    display: flex;
    flex-direction: row;
  }
  
  .form-container select{
    color: white;
    background-color: #2E323D;
    height: 100%;
    width: 10%;
    border-radius: 5px;
    margin: 0;
  }
  
  .form-container input[type=text] {
    color: white;
    background-color: #2E323D;
    padding-left: .5em;
    height: 100%;
    width: 90%;
    border: none;
    margin-right: 0px;
    border-radius: 10px;
  }
  
  .form-container2{
    margin: .5em;
    display: flex;
    justify-content: center;
  }
  
  .form-container2 select{
    color: white;
    background-color: #2E323D;
    height: 2em;
    width: 40%;
    border-radius: 10px;
  }
  