/* creating a space around the search bar. */
.searchBar {
  background-color: #181A20;
  border: 2px solid white;
  padding: 2em;
  border-radius: 10px;
  width: 50vw;
}

.searchBarButton{
  cursor: pointer;
  background-image: linear-gradient(#1589B4, #1589B4, #1589B4);
}

.searchBarButton:hover{
  background-image: linear-gradient(#00638E, #00638E, #00638E);
}


.form-box{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  justify-items: center;
}

.form-box h2{
  margin-bottom: 1em;
}
  
.form-container{
  height: 3em;
  display: flex;
  flex-direction: row;
}

.form-container input[type=text] {
  background-color: #FDFDFD;
  border: none;
  border-radius: 10px;
  color: white;
  height: 100%;
  font-size: 1em;
  margin-right: 0.25rem;
  padding-left: .5em;
  width: 90%;
}

.form-container input[type=text]:hover {
  background-color: #E4E4E4;
}

.form-container button {
  background-color: #087CA7;
  border: none;
  border-radius: 10px;
  height: 50px;
}

.form-container button>img {
  filter: invert(100%);
}

.form-container2 {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: left;
  margin: 1em 0;
}

.form-container2 select{
  background-color: #FDFDFD;
  border-radius: 10px;
  color: black;
  font-size: 1em;
  height: 2.5em;
  padding: 0 0.5rem;
  width: fit-content;
}
.form-container2 select:hover{
  background-color: #E4E4E4;
  border-radius: 10px;
  color: black;
  font-size: 1em;
  height: 2.5em;
  padding: 0 0.5rem;
  width: fit-content;
}

::placeholder {
  color: black;
}
