.twitch-content {
    text-align: center;
}

.twitch-h2 {
    font-size: 1.75em;
    padding: 15px;
}

.twitch-content img {
    border-radius: 10px;
    box-shadow: 0 0 25px white;
    margin: 1em 0;
}

.twitch-form {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 26, 31, 1);
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 40px;
}

.twitch-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1%;
    row-gap: 3%;
    justify-content: space-evenly;
    align-items: center;
}

.twitch-streamer {
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(24, 26, 31, 1);
}

.twitch-streamer:hover {
    border: 2px solid purple;
    border-radius: 10px;
    background-color: rgb(24, 26, 31, 1);
}

.twitch-featured {
    padding-top: 20px;
    background-color: rgb(24, 26, 31, 1);
    margin-bottom: 30px;
}

.twitch-featured-h2 {
    color: #815fc0;
    padding-bottom: 10px;
}

.twitch-labels {
    font-size: 1.75em;
    color: #815fc0;
    font-weight: bold;
}

.twitch-thumbnail {
    display: block;
    text-align: center;
}

.viewer-container {
    display: flex;
    justify-content: center;
}

.viewer-count {
    color: #FF7573;
}

.viewer-count-img  {
    padding: 5px
}

.twitch-form input[type=text], .twitch-form select, input[type=number] {
    padding: 5px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
}

.games-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 3%;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}