.twitch-content {
    text-align: center;
}

.twitch-content img {
    border-radius: 10px;
    box-shadow: 0 0 25px white;
    margin: 1em 0;
}

.twitch-form {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.twitch-form input[type=text], .twitch-form select, input[type=number] {
    padding: 5px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
}