.user-stats-box{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-radius: 10px;
    min-height: 300px;
    width: 60%;
    margin: 4em auto auto auto;
}

.tabs-stats{
    display: flex;
    flex-wrap: wrap;
    height: 22em;
}

.tabs-stats input[type="radio"]{
    display: none;
}

.tabs-stats input[type="radio"]:checked + label + .tab{
    display: block;
    display: flex;
    align-items: center;
}

.tabs-stats label{
    margin-right: 0.10em;
    padding: 0.20em 1em;
    display: flex;
    align-items: center;
    font-size: 1.25em;
    border: 3px solid white;
    border-top-right-radius: 15px;
    border-top-left-radius: 7px;
    border-bottom: none;
    background-color: #52545D;
}

.tabs-stats .tab{
    width: 100%;
    order: 1;
    display: none;
    border: 3px solid white;
    border-top-right-radius: 15px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 200px;
    background-color: #52545D;
    padding-left: 3%;
    padding-right: 3%;
}

.user-stats-box h4, .user-stats-box p{
    margin: 0;
    padding: 0;
}

.stat-container{
    display: flex;
    flex-direction: row;
    min-height: 5em;
    align-items: center;
}

.stat-container h4{
    width: 35%;
    text-align: right;
    margin-right: 5%;
}

.stat-container p{
    width: 70%;
    text-align: left;
}

.profile-picture-container{
    background-color: #52545D;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    height: 21.6em;
    border: 0.20em solid white;
    border-right: none;
    border-top: 0.20em solid white;
    border-top-right-radius: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.profile-picture-container img{
    margin: 0;
    max-width: 250px;
    width: 90%;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-picture-container h4{
    margin: 0;
    white-space: nowrap;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em;
}


.stats-container{
    padding-left: 0;
    width: 80%;
}