.user-stats-box{
    background-color: #52545D;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #52546F;
    border-radius: 10px;
    min-height: 300px;
    width: 50%;
    margin: auto;
    padding: 2em 0;
    justify-content: space-between;
}

.user-stats-box h4, .user-stats-box p{
    margin: 0;
    padding: 0;
}

.stat-container{
    display: flex;
    flex-direction: row;
}

.stat-container h4{
    width: 35%;
    text-align: right;
    margin-right: 5%;
}

.stat-container p{
    width: 70%;
    text-align: left;
}

.profile-picture-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
}

.profile-picture-container img{
    margin: 0;
    max-width: 250px;
    width: 50%;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-picture-container h4{
    margin: 0;
    white-space: nowrap;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em;
}


.stats-container{
    padding-left: 0;
    width: 60%;
}