.valorantUser {
    background: linear-gradient(#52545D, #20222b);
    box-shadow: 10px 10px 5px #181a1f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    min-height: 200px;
    width: 60%;
    padding: 1em;
}

.valorantUser>h3, .valorantUser>p {
    text-align: left;
}

.valorantUser>h3 {
    border-bottom: 1px solid white;
}