.content-h1 {
  text-align: center;
  color: #3BAFDA;
  font-size: 4em;
}

.content-h2 {
  font-size: 2em;
}

.content-page{
  min-height: 75vh;
  background-image: linear-gradient(#0E1015, #0E1015, #0E1015);
  color: white;
  padding: 2em 0 0 0;
  justify-content: center;
}

.alt-content-page {
  margin-top: 2.5em;
  padding: 5em 0 5em 0;
  background-image: linear-gradient(#181A1F, #181A1F, #181A1F);
}

.content-page>section {
  padding: 2em 0;
}

.content-page>section:nth-of-type(2n-1):not(:nth-of-type(1)) {
  margin-top: 2em;
  padding: 5em 0 5em 0;
  background-color: #181A1F;
}

.paddingBottom {
  padding-bottom: 4em;
}

.container {
  padding-left: 6em;
  padding-right: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-page h1, .content-page h2{
  margin: 0;
  text-align: center;
}

.gamecards-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  /* margin-top: 3em;
  margin-bottom: 4em; */
}

.home-icon {
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.home-subtitle {
  padding: 0.5em 0 0.5em 0;
  color: lightgrey;
  font-size: 1.55em;
}

.notFound-h1 {
  text-align: center;
  color: #3BAFDA;
  font-size: 8em;
  padding-bottom: .5em;
}

.notFound-h2 {
  text-align: center;
  color: #001641;
  font-size: 3em;
  padding-bottom: .5em;
}

.container-notFound {
  margin-top: 3em;
  padding-left: 15em;
  padding-right: 15em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.beruSad{
  margin-top: 1.7em;
  min-width: 400px;
  min-height: 550px;
  background-image: url("../../public/images/beruSad.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  border: 3px solid black;
  border-radius: 30px;  
}

a {
  color: #3BAFDA;
  text-decoration: none;
}

a::visitied {
  color: #3BAFDA;
}

hr{
  width: 90% ;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

.project-members-list {
  display: grid;
  grid-gap: 5em;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  padding: 2em;
}
