a {
  color: #3BAFDA;
  text-decoration: none;
}

a:visitied {
  color: #3BAFDA;
}

/** this is useless and changes nothing **/
/* .alt-content-page {
  margin-top: 2.5em;
  padding: 5em 0 5em 0;
  background-image: linear-gradient(#181A1F, #181A1F, #181A1F);
} */

.big-add-server-button {
  background-color: #087CA7;
  box-shadow: 0 0 20px rgb(8, 124, 167);
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 3em;
}

/** i tried **/
/* .big-add-server-button:hover {
  box-shadow: 0.2rem 0.2rem 0.4rem white;

  transform: translate(0.2rem, 0.2rem);
} */

.beruSad{
  margin-top: 1.7em;
  min-width: 400px;
  min-height: 550px;
  background-image: url("../../public/images/beruSad.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  border: 3px solid black;
  border-radius: 30px;  
}

.container-notFound {
  display: flex;
  column-gap: 1em;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em 15em;
}

.container-notFound .notFound-h1 {
  text-align: center;
  color: #3BAFDA;
  font-size: 8em;
}

.container-notFound .notFound-h2 {
  text-align: center;
  color: white;
  font-size: 3em;
}

.container-notFound section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}

.content-h1 {
  text-align: center;
  color: #3BAFDA;
  font-size: 4em;
}

.content-h2 {
  font-size: 2em;
}

/* .paddingBottom {
  padding-bottom: 4em;
} */

.gamecards-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  /* margin-top: 3em;
  margin-bottom: 4em; */
}

.home-icon {
  display: flex;
  justify-content: center;
  column-gap: 2em;
}

.home-subtitle {
  padding: 0.5em 0 0.5em 0;
  color: lightgrey;
  font-size: 1.55em;
}

}

main {
  background-image: linear-gradient(#0E1015, #0E1015, #0E1015);
  color: white;
  justify-content: center;
  min-height: 100vh;
  padding: 2em 0;
}

main h1, main h2{
  margin: 0;
  text-align: center;
}

main>section {
  padding: 2em 0;
  margin: 2em 0;
}

main>section:nth-of-type(2n+1):not(:nth-of-type(1)) {
  background-color: #181A1F;
  margin-top: 2em;
  padding: 5em 0;
}

.project-members-list {
  display: grid;
  grid-gap: 5em;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  padding: 2em;
}
