.content-h1 {
  color: #3BAFDA;
  font-size: 4em;
}

.content-h2 {
  font-size: 2em;
}

.content-page{
  min-height: 75vh;
  background-image: linear-gradient(#0E1015, #0E1015, #0E1015);
  color: white;
  padding: 2em 0 0 0;
  justify-content: center;
}

.alt-content-page {
  margin-top: 2em;
  padding: 5em 0 5em 0;
  background-image: linear-gradient(#181A1F, #181A1F, #181A1F);
}

.marginBottom {
  margin-bottom: 2em;
}

.paddingTop {
  padding-bottom: 4em;
}

.paddingBottom {
  padding-bottom: 4em;
}

.container {
  padding-left: 6em;
  padding-right: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-page h1, .content-page h2{
  margin: 0;
  text-align: center;
}

.gamecards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 4em;
}

.home-icon {
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.home-subtitle {
  color: lightgrey;
  font-size: 1.55em;
}

a {
  color: #3BAFDA;
  text-decoration: none;
}

a::visitied {
  color: #3BAFDA;
}

hr{
  width: 90% ;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

.project-members {
  display: grid;
  grid-gap: 2em 0.5em;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
}
